{{#extends 'base'}}
    {{#block 'content'}}
        <h1>Update {{product.title}} variant: </h1>
        <form method = "POST">
            {{{form}}}
            <div>
                {{#if variant.model_image}}
                    <img src = "{{variant.model_image}}" id = "uploaded_image" style = "height: 300px; width: 300px; object-fit: cover" />
                    <img src = "{{variant.model_thumbnail}}" id = "uploaded_image"/>
                {{else}}
                    <img src = "" style = "display:none; height: 300px; width: 300px; object-fit: cover" id = "uploaded_image"/>
                {{/if}}
            </div>
            <div>
                <a href = "#" class = "btn btn-primary" id = "upload_widget">Change Image</a>
            </div>

            {{!-- <input type="hidden" value="{{csrfToken}}" name="_csrf"/> --}}
            <input type = "submit" class = "btn btn-primary my-3"/>
        </form>
    {{/block}}

    {{#block 'js'}}
        {{> cloudinaryJS imageId="#id_model_image" thumbnailId="#id_model_thumbnail"}}

    {{/block}}
{{/extends}}