{{#extends 'base'}}
    {{#block 'css'}}
        <link rel="stylesheet" href="/style/productTable.css">
    {{/block}}
    
    {{#block 'content'}}
        <h1>Orders</h1>
        {{!-- <h2>Search</h2>
        <div class="accordion" id="accordionExample">
            <div class="accordion-item mb-3">
                <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Select search filters
                </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <form method="GET">
                        {{{form}}}
                        <input type="submit" value="Search" class="btn btn-dark btn-outline-light"/>
                    </form>
                </div>
                </div>
            </div>
        </div> --}}
        
        {{!-- <div class="btn-div"><a href="products/create" class="add-btn"><i class="fa-solid fa-plus" style=" font-size: 40px"></i></a></div> --}}
        {{> flash}}
        <div class="product-table">
            <table class="table" width="100%">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>User</th>
                        <th>User email</th>
                        <th>Payment reference</th>
                        <th>Payment type</th>
                        <th>Shipping address</th>
                        <th>Total cost</th>
                        <th>Order status</th>
                        <th>Receipt</th>
                        <th>Order created</th>
                        <th></th>
                    </tr>
                    
                </thead>
                <tbody>
                    {{#each orders}}
                        <tr>
                            <td><h5>{{this.id}}</h5></td>
                            <td><h5>{{this.account.first_name}} {{this.account.last_name}}</h5></td>
                            <td><h5>{{this.account.email}}</h5></td>
                            <td><h5>{{this.payment_reference}}</h5></td>
                            <td><h5>{{this.payment_type}}</h5></td>
                            <td><h5>{{this.billing_country}} {{this.billing_address_1}} {{this.billing_address_2}} </h5></td>
                            <td><h5>{{this.total_cost}}</h5></td>
                            <td><h5>{{this.orderStatus.status}} <a href="{{this.receipt_url}}" class="btn btn-dark btn-outline-light" target="_blank"><i class="fa-solid fa-eye"></i></a></h5></td>
                            <td><a href="{{this.receipt_url}}" class="btn btn-dark btn-outline-light" target="_blank"><i class="fa-solid fa-eye"></i></a></td>
                            <td><h5>{{moment this.order_date format = "ddd, DD MMM YYYY HH:mm:ss [GMT]"}}</h5></td>
                            <td><a href="orders/{{this.id}}/update" class="btn btn-dark btn-outline-light">Update</a></td>
                            {{!-- <td>
                                {{#each this.themes}}
                                    <span class="badge bg-secondary">{{this.name}}</span>
                                {{/each}}
                            </td>
                            <td><img src = "{{this.image_set}}" style = "height: 100px; width: 100px"/></td>
                            <td><a href="products/{{this.id}}/variants" class="btn btn-dark btn-outline-light">Variants</a></td>
                            <td>
                                <a href="products/{{this.id}}/update" class="btn btn-dark btn-outline-light"><i class="fa-solid fa-pen-to-square"></i></a>
                                <a 
                                    href="#"
                                    data-productitem="{{this.title}}"
                                    data-productid="{{this.id}}"
                                    class="deleteBtn btn btn-dark btn-outline-light">
                                    <i 
                                        class="fa-solid fa-trash-can"
                                        data-productitem="{{this.title}}"
                                        data-productid="{{this.id}}"
                                    ></i>
                                </a>
                            </td> --}}
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    {{/block}}
    {{!-- {{#block 'js'}}
        {{> sweetAlertJS target="product"}}
    {{/block}} --}}
{{/extends}}