{{#extends 'base'}}
    {{#block 'css'}}
        <link rel="stylesheet" href="/style/productTable.css">
    {{/block}}
    {{#block 'content'}}
        <h1>Products</h1>
        <h2>Search</h2>
        <form method="GET">
            {{{form}}}
            <input type="submit" value="Search" class="btn btn-primary my-3"/>
        </form>
        <div class="btn-div"><a href="products/create" class="add-btn"><i class="fa-solid fa-plus" style=" font-size: 40px"></i></a></div>
        {{> flash}}
        <div class="product-table">
            <table class="table" width="100%">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Combination</th>
                        <th>Sales</th>
                        <th>Stock</th>
                        <th>Date</th>
                        <th>Themes</th>
                        <th>Image set</th>
                        <th></th>
                        <th></th>
                    </tr>
                    
                </thead>
                <tbody>
                    {{#each products}}
                        <tr>
                            <td><h5>{{this.id}}</h5></td>
                            <td><h5>{{this.title}}</h5></td>
                            <td><h5>{{this.combo}}</h5></td>
                            <td><h5>{{this.sales}}</h5></td>
                            <td><h5>{{this.stock}}</h5></td>
                            <td><h5>{{moment this.date format = "ddd, DD MMM YYYY"}}</h5></td>
                            <td>
                                {{#each this.themes}}
                                    <span class="badge bg-secondary">{{this.name}}</span>
                                {{/each}}
                            </td>
                            <td><img src = "{{this.image_set}}" style = "height: 100px; width: 100px"/></td>
                            <td><a href="products/{{this.id}}/variants" class="btn btn-dark btn-outline-light">Variants</a></td>
                            <td>
                                <a href="products/{{this.id}}/update" class="btn btn-dark btn-outline-light"><i class="fa-solid fa-pen-to-square"></i></a>
                                <a 
                                    href="products/{{this.id}}/delete"
                                    data-productitem="Product {{this.title}}"
                                    data-productid="{{this.id}}"
                                    class="deleteBtn btn btn-dark btn-outline-light">
                                    <i class="fa-solid fa-trash-can"></i>
                                </a>
                            </td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    {{/block}}
    {{#block 'js'}}
        {{> sweetAlertJS target="product"}}
    {{/block}}
{{/extends}}